<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Azure</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://retgrid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>retgrid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>retgrid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$retgrid</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HangfireConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HangfireConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Database=C25;User Id=C25_User;Password=Sabiopass1!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Database=C25;User Id=C25_User;Password=Sabiopass1!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HangfireConnection-Web.config Connection String">
      <ParameterValue>Data Source=sabiodata4.cdzsexgreyji.us-west-2.rds.amazonaws.com;Initial Catalog=C25;User ID=C25_User;Password=Sabiopass1!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>